# UDFs and Partitioning

## Prerrequisites

Install Spark and Java in VM

In [1]:
# install Java8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download spark3.0.1
!wget -q https://apache.osuosl.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz

In [2]:
ls -l # check the .tgz is there

total 535360
drwxr-xr-x  1 root      root      4096 Dec  8 14:36 sample_data/
drwxr-xr-x 13 110302528 1000      4096 Oct 15 09:41 spark-3.3.1-bin-hadoop2/
-rw-r--r--  1 root      root 274099817 Oct 15 10:53 spark-3.3.1-bin-hadoop2.tgz
-rw-r--r--  1 root      root 274099817 Oct 15 10:53 spark-3.3.1-bin-hadoop2.tgz.1

In [3]:
# unzip it
!tar xf spark-3.3.1-bin-hadoop2.tgz

In [4]:
!pip install -q findspark

Defining the environment

In [5]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop2"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

Start Spark Session

---

In [6]:
import findspark
findspark.init("spark-3.3.1-bin-hadoop2")# SPARK_HOME

from pyspark.sql import SparkSession

# create the session
spark = SparkSession \
        .builder \
        .appName("Window Partitioning Exercises") \
        .master("local[*]") \
        .getOrCreate()

spark.version

'3.3.1'

In [7]:
spark

In [8]:
# For Pandas conversion optimization
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [9]:
# Import sql functions
from pyspark.sql.functions import *

Download datasets

In [10]:
!mkdir -p /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/bank.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/vehicles.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/characters.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/planets.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/species.csv -P /dataset
!ls /dataset

bank.csv    characters.csv    planets.csv    species.csv    vehicles.csv
bank.csv.1  characters.csv.1  planets.csv.1  species.csv.1  vehicles.csv.1

## UDFs and Partitioning Exercises

1. Read other dataset and try the repartition/colaesce
2. Try one udf function of your choice among the Df you have read

In [34]:
bank_df = spark.read.option("inferSchema",True).option("header","true").csv("/dataset/bank.csv",sep =';')

bank_df_part = bank_df.repartition(500)

bank_df_coal = bank_df_part.coalesce(2)

bank_df_part.withColumn("id", spark_partition_id()).groupBy("id").count().orderBy(col("id")).show()

bank_df_coal.withColumn("id", spark_partition_id()).groupBy("id").count().orderBy(col("id")).show()







bank_df_part.show()
bank_df_part.withColumn("id", spark_partition_id()).where(col("id")==320).show()

multiply5 = udf(lambda z: z*5)


bank_df.select(col("job"), \
    multiply5(col("balance"))) \
   .show()

+---+-----+
| id|count|
+---+-----+
|  0|    9|
|  1|    9|
|  2|    9|
|  3|    9|
|  4|    9|
|  5|    9|
|  6|    9|
|  7|    9|
|  8|    9|
|  9|    9|
| 10|    9|
| 11|    9|
| 12|    9|
| 13|    9|
| 14|    9|
| 15|    9|
| 16|    9|
| 17|    9|
| 18|    9|
| 19|    9|
+---+-----+
only showing top 20 rows

+---+-----+
| id|count|
+---+-----+
|  0| 2260|
|  1| 2261|
+---+-----+

+---+-----------+--------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|        job| marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-----------+--------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 31|     admin.|  single|secondary|     no|    757|     no|  no|cellular|  3|  feb|     343|       2|   -1|       0| unknown| no|
| 50|  housemaid| married|secondary|     no|   7317|    yes|  no|cellular| 13|  may|     172|       1|  370|       1| failure| no|
| 57| management| married| tertiary|     no|   3250|     no|  no|cellular| 20|  aug|     162|       3|   -1|       0| unknown| no|
| 47|blue-collar| married|secondary|     no|   3285|     no|  no|cellular| 31|  jul|     248|       5|   -1|       0| unknown| no|
| 51| management|  single| tertiary|    yes|    -55|    yes|  no|cellular| 18|  aug|     119|       6|   -1|       0| unknown| no|
| 51|blue-collar| married|  primary|     no|   1869|     no|  no| unknown| 17|  jun|      30|       3|   -1|       0| unknown| no|
| 27|    student|  single|secondary|     no|    671|    yes|  no| unknown|  7|  may|     332|       2|   -1|       0| unknown| no|
| 42|blue-collar| married|secondary|     no|    130|    yes|  no| unknown| 29|  may|     285|       1|   -1|       0| unknown| no|
| 37|  housemaid| married|  primary|     no|    189|     no|  no|cellular|  8|  aug|     148|       4|   -1|       0| unknown| no|
| 26| technician|  single| tertiary|     no|     75|    yes| yes| unknown| 19|  may|     351|       1|   -1|       0| unknown| no|
| 34|blue-collar| married|secondary|     no|   2542|    yes|  no|cellular| 14|  may|     228|       1|   -1|       0| unknown| no|
| 40| management|  single|secondary|     no|  10378|    yes|  no|cellular| 17|  nov|     523|       3|   -1|       0| unknown| no|
| 28| technician|  single| tertiary|     no|    356|     no|  no|cellular|  2|  mar|      76|       2|   -1|       0| unknown| no|
| 32| management|  single| tertiary|     no|   2536|    yes|  no|cellular| 26|  aug|     958|       6|   -1|       0| unknown|yes|
| 50| technician| married|secondary|     no|    669|    yes|  no| unknown|  2|  jun|      88|       1|   -1|       0| unknown| no|
| 45|blue-collar| married|  primary|     no|     97|    yes|  no| unknown|  7|  may|     923|       3|   -1|       0| unknown| no|
| 30| management|  single| tertiary|     no|    201|    yes|  no|cellular| 17|  mar|     325|       2|   -1|       0| unknown|yes|
| 50|blue-collar|divorced|  primary|     no|    -10|     no| yes|cellular| 10|  jul|     369|       6|   -1|       0| unknown| no|
| 42| management| married| tertiary|     no|    372|    yes|  no|cellular|  3|  aug|     654|       2|   -1|       0| unknown|yes|
| 32| management| married| tertiary|     no|     71|    yes|  no|cellular| 21|  jul|     221|       8|   -1|       0| unknown| no|
+---+-----------+--------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+---+
|age|        job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|  y| id|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+---+
| 30| technician| single| tertiary|     no|      3|    yes|  no| cellular|  6|  may|      45|       2|  169|       2| failure| no|320|
| 50| technician|married|secondary|     no|    841|    yes|  no|  unknown| 29|  may|      54|       2|   -1|       0| unknown| no|320|
| 28|   services| single|secondary|     no|    168|     no|  no| cellular|  1|  jun|     347|       3|  140|       2| success|yes|320|
| 60|blue-collar|married|secondary|     no|   1801|     no|  no|telephone| 29|  oct|     167|       1|   -1|       0| unknown| no|320|
| 35|   services|married|secondary|     no|   1453|    yes|  no|  unknown| 28|  may|     199|       1|   -1|       0| unknown| no|320|
| 36|blue-collar| single|  primary|     no|   1313|    yes|  no|  unknown| 20|  jun|       8|      10|   -1|       0| unknown| no|320|
| 43|    retired|married|secondary|     no|    520|    yes|  no|  unknown| 20|  may|      15|      13|   -1|       0| unknown| no|320|
| 42|blue-collar|married|  primary|     no|   2519|    yes|  no|  unknown| 15|  may|     262|       4|   -1|       0| unknown| no|320|
| 58|blue-collar|married|  primary|     no|      0|    yes|  no| cellular| 31|  jul|       5|      25|   -1|       0| unknown| no|320|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+---+

+-------------+-----------------+
|          job|<lambda>(balance)|
+-------------+-----------------+
|   unemployed|             8935|
|     services|            23945|
|   management|             6750|
|   management|             7380|
|  blue-collar|                0|
|   management|             3735|
|self-employed|             1535|
|   technician|              735|
| entrepreneur|             1105|
|     services|             -440|
|     services|            46870|
|       admin.|             1320|
|   technician|             5545|
|      student|             2510|
|  blue-collar|             1800|
|   management|              970|
|   technician|            20365|
|       admin.|            11585|
|  blue-collar|            -1105|
|     services|              660|
+-------------+-----------------+
only showing top 20 rows