# DataFrames Basics Exercises

## Prerrequisites

Install Spark and Java in VM

In [1]:
# install Java8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download spark3.0.1
!wget -q https://apache.osuosl.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz

In [2]:
ls -l # check the .tgz is there

total 267680
drwxr-xr-x 1 root root      4096 Dec  7 14:41 sample_data/
-rw-r--r-- 1 root root 274099817 Oct 15 10:53 spark-3.3.1-bin-hadoop2.tgz

In [3]:
# unzip it
!tar xf spark-3.3.1-bin-hadoop2.tgz

In [4]:
!pip install -q findspark

Defining the environment

In [5]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop2"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

Start Spark Session

---

In [6]:
import findspark
findspark.init("spark-3.3.1-bin-hadoop2")# SPARK_HOME

from pyspark.sql import SparkSession

# create the session
spark = SparkSession \
        .builder \
        .appName("DataFramesBasics Exercises") \
        .master("local[*]") \
        .getOrCreate()

spark.version

'3.3.1'

In [7]:
spark

In [8]:
# For Pandas conversion optimization
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [9]:
# Import sql functions
from pyspark.sql.functions import *

Download datasets

In [10]:
!mkdir -p dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2022/master/datasets/movies.json -P /dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2022/master/datasets/cars.json -P /dataset

## DataFrames Basics Exercises

1) Create a manual DF describing smartphones
  - maker
  - model
  - screen dimension
  - camera megapixels
  
2) Read another file from the dataset/ folder, e.g. movies.json
  - print its schema
  - count the number of rows, call count()

In [16]:
header = ["Maker", "Model", "Screen Dimension", "Camera Megapixels"]
values = [
        ("Apple", "iPhone 11", "512x256", 25),  # create your data here, be consistent in the types.
        ("Sony", "Z", "300x256", 35),
        ("Samsung", "Edge", "300x1256", 45)
    ]

df = spark.createDataFrame(values,header)

df.printSchema()
df.show()



smartphones = [{"maker":"Nokia", "model":"7200", "screen dimension":"200x400", "camera megapixels":24},
               {"maker":"Apple", "model":"iPhone X", "screen dimension":"500x450", "camera megapixels":20},
               {"maker":"Samsung", "model":"Galaxy 2", "screen dimension":"400x300", "camera megapixels":28},
               {"maker":"Sony", "model":"Xperia Z", "screen dimension":"200x300", "camera megapixels":14}]


df_phone = spark.read.json(spark.sparkContext.parallelize([smartphones]))

root
 |-- Maker: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Screen Dimension: string (nullable = true)
 |-- Camera Megapixels: long (nullable = true)

+-------+---------+----------------+-----------------+
|  Maker|    Model|Screen Dimension|Camera Megapixels|
+-------+---------+----------------+-----------------+
|  Apple|iPhone 11|         512x256|               25|
|   Sony|        Z|         300x256|               35|
|Samsung|     Edge|        300x1256|               45|
+-------+---------+----------------+-----------------+

In [17]:
df = spark.read.json("/dataset/movies.json")

df.printSchema()
df.show()
df.count()

root
 |-- Creative_Type: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Distributor: string (nullable = true)
 |-- IMDB_Rating: double (nullable = true)
 |-- IMDB_Votes: long (nullable = true)
 |-- MPAA_Rating: string (nullable = true)
 |-- Major_Genre: string (nullable = true)
 |-- Production_Budget: long (nullable = true)
 |-- Release_Date: string (nullable = true)
 |-- Rotten_Tomatoes_Rating: long (nullable = true)
 |-- Running_Time_min: long (nullable = true)
 |-- Source: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- US_DVD_Sales: long (nullable = true)
 |-- US_Gross: long (nullable = true)
 |-- Worldwide_Gross: long (nullable = true)

+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+
|       Creative_Type|         Director|   Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+
|                null|             null|      Gramercy|        6.1|      1071|          R|       null|          8000000|   12-Jun-98|                  null|            null|               null|      The Land Girls|        null|  146083|         146083|
|                null|             null|        Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  null|            null|               null|First Love, Last ...|        null|   10876|          10876|
|                null|             null|     Lionsgate|        6.8|       865|       null|     Comedy|           250000|   28-Aug-98|                  null|            null|               null|I Married a Stran...|        null|  203134|         203134|
|                null|             null|     Fine Line|       null|      null|       null|     Comedy|           300000|   11-Sep-98|                    13|            null|               null|Let's Talk About Sex|        null|  373615|         373615|
|Contemporary Fiction|             null|       Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            null|Original Screenplay|                Slam|        null| 1009819|        1087521|
|                null|             null|           MGM|       null|      null|       null|       null|          1600000|   15-Jan-99|                  null|            null|               null| Mississippi Mermaid|        null|   24551|        2624551|
|                null|Christopher Nolan|     Zeitgeist|        7.7|     15133|          R|       null|             6000|    4-Apr-99|                  null|            null|               null|           Following|        null|   44705|          44705|
|Contemporary Fiction|             null|       Artisan|        3.8|       353|          R|     Comedy|          1600000|    9-Apr-99|                  null|            null|Original Screenplay|             Foolish|        null| 6026908|        6026908|
|                null|   Roman Polanski|          null|        5.8|      3275|          R|       null|         40000000|    1-Jul-86|                    25|            null|               null|             Pirates|        null| 1641825|        6341825|
|                null|             null|          null|        7.0|      2906|       null|       null|          6000000|   31-Dec-46|                    86|            null|               null|     Duel in the Sun|        null|20400000|       20400000|
|                null|             null|          null|        7.0|      4035|       null|       null|          1000000|    7-Oct-63|                    81|            null|               null|           Tom Jones|        null|37600000|       37600000|
|                null|             null| Sony Pictures|        7.5|      9111|       null|    Musical|         10000000|   11-Dec-68|                    84|            null|               null|             Oliver!|        null|37402877|       37402877|
|                null|             null|     Universal|        8.4|     82786|       null|       null|          2000000|   25-Dec-62|                    97|            null|               null|To Kill A Mocking...|        null|13129846|       13129846|
|                null|Richard Fleischer|          null|       null|      null|       null|       null|         25000000|   23-Sep-70|                  null|            null|               null|    Tora, Tora, Tora|        null|29548291|       29548291|
|                null|             null|          null|        6.8|      1532|       null|       null|           100000|    1-Mar-87|                    87|            null|               null|   Hollywood Shuffle|        null| 5228617|        5228617|
|                null|             null|          null|       null|      null|       null|       null|           100000|   17-Sep-20|                  null|            null|               null|Over the Hill to ...|        null| 3000000|        3000000|
|                null|             null|          null|        7.0|       451|       null|       null|          5200000|    1-Aug-44|                  null|            null|               null|              Wilson|        null| 2000000|        2000000|
|                null|    Blake Edwards|          null|        6.1|       858|       null|       null|         22000000|    1-Jan-70|                  null|            null|               null|        Darling Lili|        null| 5000000|        5000000|
|                null|             null|          null|        2.5|      1677|       null|       null|         13500000|    5-Oct-56|                    90|            null|               null|The Ten Commandments|        null|80000000|       80000000|
|                null|     Sidney Lumet|United Artists|        8.9|    119101|       null|      Drama|           340000|   13-Apr-57|                  null|            null|Original Screenplay|        12 Angry Men|        null|       0|              0|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+
only showing top 20 rows

3201

## Columns and Expressions Exercises

1. Read the movies DF and select 2 columns of your choice
2. Create another column summing up the total profit of the movies = US_Gross + Worldwide_Gross + DVD sales. Are you pbtaining nulls? How you can solve it?
3. Select all COMEDY movies with IMDB rating above 6

Use as many versions as possible

In [47]:
#!pip install pyspark
dfcolumn = df.select("Director", "US_Gross")

dfcolumn.show()

#dfsuma = df.withColumn('total', df.coalesce(df.US_Gross, df.lit(0)) + df.coalesce(df.Worldwide_Gross, df.lit(0)) + df.coalesce(df.US_DVD_Sales, df.lit(0)))

import pyspark.sql.functions as f

df1 = df.withColumn("new_count", f.coalesce(f.col('US_Gross'), f.lit(0)) + f.coalesce(f.col('Worldwide_Gross'), f.lit(0)))
df1.show()

dffilter = df1.filter("IMDB_Rating  > 6 AND Major_Genre == 'Comedy'")

dffilter.show()

ComediesDF3 = df.select("Title", "Major_Genre", "IMDB_Rating") \
.where((col("IMDB_Rating") > 6) & (col("Major_Genre") == "Comedy"))

ComediesDF3.show()

+-----------------+--------+
|         Director|US_Gross|
+-----------------+--------+
|             null|  146083|
|             null|   10876|
|             null|  203134|
|             null|  373615|
|             null| 1009819|
|             null|   24551|
|Christopher Nolan|   44705|
|             null| 6026908|
|   Roman Polanski| 1641825|
|             null|20400000|
|             null|37600000|
|             null|37402877|
|             null|13129846|
|Richard Fleischer|29548291|
|             null| 5228617|
|             null| 3000000|
|             null| 2000000|
|    Blake Edwards| 5000000|
|             null|80000000|
|     Sidney Lumet|       0|
+-----------------+--------+
only showing top 20 rows

+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+---------+
|       Creative_Type|         Director|   Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|new_count|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+---------+
|                null|             null|      Gramercy|        6.1|      1071|          R|       null|          8000000|   12-Jun-98|                  null|            null|               null|      The Land Girls|        null|  146083|         146083|   292166|
|                null|             null|        Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  null|            null|               null|First Love, Last ...|        null|   10876|          10876|    21752|
|                null|             null|     Lionsgate|        6.8|       865|       null|     Comedy|           250000|   28-Aug-98|                  null|            null|               null|I Married a Stran...|        null|  203134|         203134|   406268|
|                null|             null|     Fine Line|       null|      null|       null|     Comedy|           300000|   11-Sep-98|                    13|            null|               null|Let's Talk About Sex|        null|  373615|         373615|   747230|
|Contemporary Fiction|             null|       Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            null|Original Screenplay|                Slam|        null| 1009819|        1087521|  2097340|
|                null|             null|           MGM|       null|      null|       null|       null|          1600000|   15-Jan-99|                  null|            null|               null| Mississippi Mermaid|        null|   24551|        2624551|  2649102|
|                null|Christopher Nolan|     Zeitgeist|        7.7|     15133|          R|       null|             6000|    4-Apr-99|                  null|            null|               null|           Following|        null|   44705|          44705|    89410|
|Contemporary Fiction|             null|       Artisan|        3.8|       353|          R|     Comedy|          1600000|    9-Apr-99|                  null|            null|Original Screenplay|             Foolish|        null| 6026908|        6026908| 12053816|
|                null|   Roman Polanski|          null|        5.8|      3275|          R|       null|         40000000|    1-Jul-86|                    25|            null|               null|             Pirates|        null| 1641825|        6341825|  7983650|
|                null|             null|          null|        7.0|      2906|       null|       null|          6000000|   31-Dec-46|                    86|            null|               null|     Duel in the Sun|        null|20400000|       20400000| 40800000|
|                null|             null|          null|        7.0|      4035|       null|       null|          1000000|    7-Oct-63|                    81|            null|               null|           Tom Jones|        null|37600000|       37600000| 75200000|
|                null|             null| Sony Pictures|        7.5|      9111|       null|    Musical|         10000000|   11-Dec-68|                    84|            null|               null|             Oliver!|        null|37402877|       37402877| 74805754|
|                null|             null|     Universal|        8.4|     82786|       null|       null|          2000000|   25-Dec-62|                    97|            null|               null|To Kill A Mocking...|        null|13129846|       13129846| 26259692|
|                null|Richard Fleischer|          null|       null|      null|       null|       null|         25000000|   23-Sep-70|                  null|            null|               null|    Tora, Tora, Tora|        null|29548291|       29548291| 59096582|
|                null|             null|          null|        6.8|      1532|       null|       null|           100000|    1-Mar-87|                    87|            null|               null|   Hollywood Shuffle|        null| 5228617|        5228617| 10457234|
|                null|             null|          null|       null|      null|       null|       null|           100000|   17-Sep-20|                  null|            null|               null|Over the Hill to ...|        null| 3000000|        3000000|  6000000|
|                null|             null|          null|        7.0|       451|       null|       null|          5200000|    1-Aug-44|                  null|            null|               null|              Wilson|        null| 2000000|        2000000|  4000000|
|                null|    Blake Edwards|          null|        6.1|       858|       null|       null|         22000000|    1-Jan-70|                  null|            null|               null|        Darling Lili|        null| 5000000|        5000000| 10000000|
|                null|             null|          null|        2.5|      1677|       null|       null|         13500000|    5-Oct-56|                    90|            null|               null|The Ten Commandments|        null|80000000|       80000000|160000000|
|                null|     Sidney Lumet|United Artists|        8.9|    119101|       null|      Drama|           340000|   13-Apr-57|                  null|            null|Original Screenplay|        12 Angry Men|        null|       0|              0|        0|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+---------+
only showing top 20 rows

+--------------------+-----------------+--------------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+---------+---------------+---------+
|       Creative_Type|         Director|         Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|              Source|               Title|US_DVD_Sales| US_Gross|Worldwide_Gross|new_count|
+--------------------+-----------------+--------------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+---------+---------------+---------+
|                null|             null|           Lionsgate|        6.8|       865|       null|     Comedy|           250000|   28-Aug-98|                  null|            null|                null|I Married a Stran...|        null|   203134|         203134|   406268|
|                null|    Shane Meadows|       October Films|        6.9|      1417|          R|     Comedy|          2000000|   15-Apr-98|                  null|            null| Original Screenplay|24 7: Twenty Four...|        null|    72544|          72544|   145088|
|Contemporary Fiction| Robert Rodriguez|             Miramax|        6.4|     34328|          R|     Comedy|          4000000|   25-Dec-95|                    14|            null| Original Screenplay|          Four Rooms|        null|  4301000|        4301000|  8602000|
|Contemporary Fiction|        Alan Alda|           Universal|        7.0|      1814|       null|     Comedy|          6500000|   22-May-81|                    71|            null| Original Screenplay|    The Four Seasons|        null| 42488161|       42488161| 84976322|
|Contemporary Fiction|      Tom Shadyac|        Warner Bros.|        6.6|     63543|      PG-13|     Comedy|         12000000|    4-Feb-94|                    49|            null| Original Screenplay|Ace Ventura: Pet ...|        null| 72217396|      107217396|179434792|
|                null|     George Lucas|           Universal|        7.6|     30952|       null|     Comedy|           777000|   11-Aug-73|                    97|            null| Original Screenplay|   American Graffiti|        null|115000000|      140000000|255000000|
|                null|      Woody Allen|                 MGM|        8.2|     65406|       null|     Comedy|          4000000|   20-Apr-77|                    98|            null| Original Screenplay|          Annie Hall|        null| 38251425|       38251425| 76502850|
|Contemporary Fiction|             null|            Alliance|        6.9|       151|  Not Rated|     Comedy|          8000000|    4-Aug-06|                    67|            null| Original Screenplay|    Bon Cop, Bad Cop|        null| 12671300|       12671300| 25342600|
|             Fantasy|   Penny Marshall|    20th Century Fox|        7.2|     49256|       null|     Comedy|         18000000|    3-Jun-88|                    96|            null| Original Screenplay|                 Big|        null|114968774|      151668774|266637548|
|                null|      Woody Allen|                 MGM|        7.1|     12415|      PG-13|     Comedy|          2000000|   28-Apr-71|                    89|            null| Original Screenplay|             Bananas|        null|     null|           null|        0|
|                null|       Mel Brooks|        Warner Bros.|        7.8|     45771|       null|     Comedy|          2600000|    1-Jan-74|                    89|            null| Original Screenplay|     Blazing Saddles|        null|119500000|      119500000|239000000|
|     Science Fiction|    Stephen Herek|      Orion Pictures|        6.7|     30341|       null|     Comedy|         10000000|   17-Feb-89|                    81|            null| Original Screenplay|Bill & Ted's Exce...|        null| 39916091|       39916091| 79832182|
|             Fantasy|       Tim Burton|        Warner Bros.|        7.3|     61197|       null|     Comedy|         15000000|   30-Mar-88|                  null|            null| Original Screenplay|        Beetle Juice|        null| 73326666|       73326666|146653332|
|Contemporary Fiction|             null|Link Productions ...|        7.0|      7129|  Not Rated|     Comedy|         16000000|   25-Jul-08|                  null|             109| Original Screenplay|Bienvenue chez le...|        null|  1470856|      243470856|244941712|
|Contemporary Fiction|     Harold Ramis|        Warner Bros.|        7.3|     35436|       null|     Comedy|          6000000|   25-Jul-80|                    75|            null| Original Screenplay|          Caddyshack|        null| 39846344|       39846344| 79692688|
|Contemporary Fiction|      John Huston|       Sony Pictures|        8.0|    172936|       null|     Comedy|         12000000|   28-Apr-67|                    30|            null|Based on Book/Sho...|       Casino Royale|        null| 22744718|       41744718| 64489436|
|  Historical Fiction|             null|                 MGM|        8.0|     51757|         PG|     Comedy|          3250000|   18-Nov-83|                    88|            null|Based on Book/Sho...|   A Christmas Story|        null| 19294144|       19294144| 38588288|
|  Historical Fiction|        Spike Lee|           Universal|        6.5|      3137|      PG-13|     Comedy|         14000000|   13-May-94|                    75|            null| Original Screenplay|            Crooklyn|        null| 13024170|       13024170| 26048340|
|Contemporary Fiction|Thomas Vinterberg|       October Films|        8.1|     26607|          R|     Comedy|          1300000|    9-Oct-98|                  null|            null| Original Screenplay|              Festen|        null|  1647780|        1647780|  3295560|
|Contemporary Fiction|   Amy Heckerling|  Paramount Pictures|        6.7|     39055|      PG-13|     Comedy|         13700000|    1-Jul-95|                    83|            null|Based on Book/Sho...|            Clueless|        null| 56598476|       56598476|113196952|
+--------------------+-----------------+--------------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+---------+---------------+---------+
only showing top 20 rows

+--------------------+-----------+-----------+
|               Title|Major_Genre|IMDB_Rating|
+--------------------+-----------+-----------+
|I Married a Stran...|     Comedy|        6.8|
|24 7: Twenty Four...|     Comedy|        6.9|
|          Four Rooms|     Comedy|        6.4|
|    The Four Seasons|     Comedy|        7.0|
|Ace Ventura: Pet ...|     Comedy|        6.6|
|   American Graffiti|     Comedy|        7.6|
|          Annie Hall|     Comedy|        8.2|
|    Bon Cop, Bad Cop|     Comedy|        6.9|
|                 Big|     Comedy|        7.2|
|             Bananas|     Comedy|        7.1|
|     Blazing Saddles|     Comedy|        7.8|
|Bill & Ted's Exce...|     Comedy|        6.7|
|        Beetle Juice|     Comedy|        7.3|
|Bienvenue chez le...|     Comedy|        7.0|
|          Caddyshack|     Comedy|        7.3|
|       Casino Royale|     Comedy|        8.0|
|   A Christmas Story|     Comedy|        8.0|
|            Crooklyn|     Comedy|        6.5|
|              Festen|     Comedy|        8.1|
|            Clueless|     Comedy|        6.7|
+--------------------+-----------+-----------+
only showing top 20 rows